BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[0]" SITE "49" ;
LOCATE COMP "cdiv00[1]" SITE "47" ;
LOCATE COMP "cdiv00[2]" SITE "50" ;
LOCATE COMP "cdiv00[3]" SITE "48" ;
LOCATE COMP "cdiv00[4]" SITE "55" ;
LOCATE COMP "outled00[1]" SITE "111" ;
LOCATE COMP "outled00[2]" SITE "114" ;
LOCATE COMP "outled00[3]" SITE "113" ;
LOCATE COMP "outtransist00[0]" SITE "34" ;
LOCATE COMP "outtransist00[1]" SITE "35" ;
LOCATE COMP "outtransist00[2]" SITE "32" ;
LOCATE COMP "outtransist00[3]" SITE "33" ;
LOCATE COMP "outcoder00[6]" SITE "142" ;
LOCATE COMP "outcoder00[5]" SITE "143" ;
LOCATE COMP "outcoder00[4]" SITE "140" ;
LOCATE COMP "outcoder00[3]" SITE "141" ;
LOCATE COMP "outcoder00[0]" SITE "132" ;
LOCATE COMP "outcoder00[2]" SITE "138" ;
LOCATE COMP "outcoder00[1]" SITE "139" ;
LOCATE COMP "outr00[0]" SITE "5" ;
LOCATE COMP "outr00[1]" SITE "4" ;
LOCATE COMP "outr00[2]" SITE "3" ;
LOCATE COMP "outr00[3]" SITE "2" ;
LOCATE COMP "outr00[4]" SITE "1" ;
LOCATE COMP "inkey00[0]" SITE "75" ;
LOCATE COMP "inkey00[1]" SITE "76" ;
LOCATE COMP "inkey00[2]" SITE "77" ;
LOCATE COMP "inkey00[3]" SITE "78" ;
LOCATE COMP "clk00" SITE "110" ;
LOCATE COMP "en00" SITE "40" ;
LOCATE COMP "outled00[0]" SITE "112" ;
LOCATE COMP "outled00[4]" SITE "117" ;
LOCATE COMP "outcontc00[0]" SITE "128" ;
LOCATE COMP "outcontc00[1]" SITE "127" ;
LOCATE COMP "outcontc00[2]" SITE "126" ;
LOCATE COMP "outcontc00[3]" SITE "125" ;
LOCATE COMP "outcontc00[4]" SITE "122" ;
LOCATE COMP "inFlagc00" SITE "107" ;
LOCATE COMP "outFlagc00" SITE "106" ;
