BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "97" ;
LOCATE COMP "reset0" SITE "40" ;
LOCATE COMP "cdiv00[0]" SITE "49" ;
LOCATE COMP "cdiv00[1]" SITE "47" ;
LOCATE COMP "cdiv00[2]" SITE "50" ;
LOCATE COMP "cdiv00[3]" SITE "48" ;
LOCATE COMP "cdiv00[4]" SITE "55" ;
LOCATE COMP "RS0" SITE "95" ;
LOCATE COMP "RW0" SITE "96" ;
LOCATE COMP "EN0" SITE "93" ;
LOCATE COMP "outword0[0]" SITE "91" ;
LOCATE COMP "outword0[1]" SITE "92" ;
LOCATE COMP "outword0[2]" SITE "85" ;
LOCATE COMP "outword0[3]" SITE "86" ;
LOCATE COMP "outword0[4]" SITE "83" ;
LOCATE COMP "outword0[5]" SITE "84" ;
LOCATE COMP "outword0[6]" SITE "81" ;
LOCATE COMP "outword0[7]" SITE "82" ;
LOCATE COMP "outwordled0[7]" SITE "110" ;
LOCATE COMP "outwordled0[6]" SITE "109" ;
LOCATE COMP "outwordled0[5]" SITE "112" ;
LOCATE COMP "outwordled0[4]" SITE "111" ;
LOCATE COMP "outwordled0[3]" SITE "114" ;
LOCATE COMP "outwordled0[2]" SITE "113" ;
LOCATE COMP "outwordled0[1]" SITE "117" ;
LOCATE COMP "outwordled0[0]" SITE "115" ;
LOCATE COMP "outcontconfig0[4]" SITE "19" ;
LOCATE COMP "outcontconfig0[3]" SITE "20" ;
LOCATE COMP "outcontconfig0[2]" SITE "13" ;
LOCATE COMP "outcontconfig0[1]" SITE "14" ;
LOCATE COMP "outcontconfig0[0]" SITE "11" ;
