BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Sal[0]" SITE "110" ;
LOCATE COMP "Sal[1]" SITE "109" ;
LOCATE COMP "Sal[2]" SITE "112" ;
LOCATE COMP "Sal[3]" SITE "111" ;
LOCATE COMP "Sal[4]" SITE "114" ;
LOCATE COMP "Sal[5]" SITE "113" ;
LOCATE COMP "Sal[6]" SITE "117" ;
LOCATE COMP "Sal[7]" SITE "115" ;
LOCATE COMP "outdiv0" SITE "1" ;
LOCATE COMP "cont[0]" SITE "2" ;
LOCATE COMP "cont[1]" SITE "3" ;
LOCATE COMP "cont[2]" SITE "4" ;
LOCATE COMP "cont[3]" SITE "5" ;
LOCATE COMP "Ent[7]" SITE "38" ;
LOCATE COMP "Ent[6]" SITE "39" ;
LOCATE COMP "Ent[5]" SITE "40" ;
LOCATE COMP "Ent[4]" SITE "41" ;
LOCATE COMP "Ent[3]" SITE "42" ;
LOCATE COMP "Ent[2]" SITE "43" ;
LOCATE COMP "Ent[1]" SITE "44" ;
LOCATE COMP "Ent[0]" SITE "45" ;
LOCATE COMP "clr" SITE "47" ;
LOCATE COMP "Key[1]" SITE "48" ;
LOCATE COMP "Key[0]" SITE "49" ;
LOCATE COMP "indiv0[0]" SITE "56" ;
LOCATE COMP "indiv0[1]" SITE "55" ;
LOCATE COMP "indiv0[2]" SITE "54" ;
LOCATE COMP "indiv0[3]" SITE "52" ;
LOCATE COMP "limite[0]" SITE "107" ;
LOCATE COMP "limite[1]" SITE "106" ;
LOCATE COMP "limite[2]" SITE "105" ;
LOCATE COMP "limite[3]" SITE "104" ;
