BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "entrada[5]" SITE "40" ;
LOCATE COMP "entrada[4]" SITE "41" ;
LOCATE COMP "entrada[2]" SITE "43" ;
LOCATE COMP "outdiv0" SITE "1" ;
LOCATE COMP "indiv0[3]" SITE "47" ;
LOCATE COMP "indiv0[2]" SITE "48" ;
LOCATE COMP "indiv0[1]" SITE "49" ;
LOCATE COMP "indiv0[0]" SITE "50" ;
LOCATE COMP "clr" SITE "97" ;
LOCATE COMP "set" SITE "99" ;
LOCATE COMP "salida[0]" SITE "110" ;
LOCATE COMP "salida[1]" SITE "109" ;
LOCATE COMP "salida[2]" SITE "112" ;
LOCATE COMP "salida[3]" SITE "111" ;
LOCATE COMP "salida[4]" SITE "114" ;
LOCATE COMP "salida[5]" SITE "113" ;
LOCATE COMP "salida[6]" SITE "117" ;
LOCATE COMP "salida[7]" SITE "115" ;
LOCATE COMP "entrada[7]" SITE "38" ;
LOCATE COMP "entrada[6]" SITE "39" ;
LOCATE COMP "entrada[3]" SITE "42" ;
LOCATE COMP "entrada[1]" SITE "44" ;
LOCATE COMP "entrada[0]" SITE "45" ;
LOCATE COMP "aux" SITE "98" ;
LOCATE COMP "cont[0]" SITE "2" ;
LOCATE COMP "cont[1]" SITE "3" ;
LOCATE COMP "cont[2]" SITE "4" ;
LOCATE COMP "cont[3]" SITE "5" ;
LOCATE COMP "limite[0]" SITE "56" ;
LOCATE COMP "limite[1]" SITE "55" ;
LOCATE COMP "limite[2]" SITE "54" ;
LOCATE COMP "limite[3]" SITE "52" ;
