BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "insl0[7]" SITE "38" ;
LOCATE COMP "insl0[6]" SITE "39" ;
LOCATE COMP "insl0[5]" SITE "40" ;
LOCATE COMP "insl0[4]" SITE "41" ;
LOCATE COMP "insl0[3]" SITE "42" ;
LOCATE COMP "insl0[2]" SITE "43" ;
LOCATE COMP "insl0[1]" SITE "44" ;
LOCATE COMP "insl0[0]" SITE "45" ;
LOCATE COMP "en0" SITE "47" ;
LOCATE COMP "sel0[1]" SITE "48" ;
LOCATE COMP "sel0[0]" SITE "49" ;
LOCATE COMP "cdiv00[0]" SITE "56" ;
LOCATE COMP "cdiv00[1]" SITE "55" ;
LOCATE COMP "cdiv00[2]" SITE "54" ;
LOCATE COMP "cdiv00[3]" SITE "52" ;
LOCATE COMP "cdiv00[4]" SITE "50" ;
LOCATE COMP "clk0" SITE "1" ;
LOCATE COMP "outsl0[0]" SITE "110" ;
LOCATE COMP "outsl0[1]" SITE "109" ;
LOCATE COMP "outsl0[2]" SITE "112" ;
LOCATE COMP "outsl0[3]" SITE "111" ;
LOCATE COMP "outsl0[4]" SITE "114" ;
LOCATE COMP "outsl0[5]" SITE "113" ;
LOCATE COMP "outsl0[6]" SITE "117" ;
LOCATE COMP "outsl0[7]" SITE "115" ;
LOCATE COMP "saltos0[2]" SITE "97" ;
LOCATE COMP "saltos0[1]" SITE "98" ;
LOCATE COMP "saltos0[0]" SITE "99" ;
