BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[0]" SITE "38" ;
LOCATE COMP "Ai[1]" SITE "39" ;
LOCATE COMP "Ai[2]" SITE "40" ;
LOCATE COMP "Ai[3]" SITE "41" ;
LOCATE COMP "Bi[0]" SITE "85" ;
LOCATE COMP "Bi[1]" SITE "86" ;
LOCATE COMP "Bi[2]" SITE "87" ;
LOCATE COMP "Bi[3]" SITE "89" ;
LOCATE COMP "So[0]" SITE "115" ;
LOCATE COMP "So[1]" SITE "117" ;
LOCATE COMP "So[2]" SITE "113" ;
LOCATE COMP "So[3]" SITE "114" ;
LOCATE COMP "sl" SITE "45" ;
LOCATE COMP "LED" SITE "1" ;
