BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "97" ;
LOCATE COMP "reset0" SITE "40" ;
LOCATE COMP "cdiv00[0]" SITE "49" ;
LOCATE COMP "cdiv00[1]" SITE "47" ;
LOCATE COMP "cdiv00[2]" SITE "50" ;
LOCATE COMP "cdiv00[3]" SITE "48" ;
LOCATE COMP "cdiv00[4]" SITE "55" ;
LOCATE COMP "RS0" SITE "95" ;
LOCATE COMP "RW0" SITE "96" ;
LOCATE COMP "EN0" SITE "93" ;
LOCATE COMP "outword0[0]" SITE "91" ;
LOCATE COMP "outword0[1]" SITE "92" ;
LOCATE COMP "outword0[2]" SITE "85" ;
LOCATE COMP "outword0[3]" SITE "86" ;
LOCATE COMP "outword0[4]" SITE "83" ;
LOCATE COMP "outword0[5]" SITE "84" ;
LOCATE COMP "outword0[6]" SITE "81" ;
LOCATE COMP "outword0[7]" SITE "82" ;
LOCATE COMP "outcr00[0]" SITE "34" ;
LOCATE COMP "outcr00[1]" SITE "35" ;
LOCATE COMP "outcr00[2]" SITE "32" ;
LOCATE COMP "outcr00[3]" SITE "33" ;
LOCATE COMP "out7seg00[6]" SITE "142" ;
LOCATE COMP "out7seg00[5]" SITE "143" ;
LOCATE COMP "out7seg00[4]" SITE "140" ;
LOCATE COMP "out7seg00[3]" SITE "141" ;
LOCATE COMP "out7seg00[0]" SITE "132" ;
LOCATE COMP "out7seg00[2]" SITE "138" ;
LOCATE COMP "out7seg00[1]" SITE "139" ;
LOCATE COMP "inadc00[0]" SITE "107" ;
LOCATE COMP "inadc00[1]" SITE "106" ;
LOCATE COMP "inadc00[2]" SITE "105" ;
LOCATE COMP "inadc00[3]" SITE "104" ;
LOCATE COMP "inadc00[4]" SITE "100" ;
LOCATE COMP "inadc00[5]" SITE "99" ;
LOCATE COMP "inadc00[6]" SITE "98" ;
LOCATE COMP "outfan00[0]" SITE "5" ;
LOCATE COMP "outfan00[1]" SITE "6" ;
LOCATE COMP "outlevel00[0]" SITE "110" ;
LOCATE COMP "outlevel00[1]" SITE "109" ;
LOCATE COMP "outlevel00[2]" SITE "112" ;
LOCATE COMP "outlevel00[3]" SITE "111" ;
LOCATE COMP "outlevel00[4]" SITE "114" ;
LOCATE COMP "outlevel00[5]" SITE "113" ;
LOCATE COMP "outlevel00[6]" SITE "117" ;
LOCATE COMP "outlevel00[7]" SITE "115" ;
LOCATE COMP "outlevel00[8]" SITE "120" ;
LOCATE COMP "outlevel00[9]" SITE "119" ;
LOCATE COMP "outlevel00[12]" SITE "126" ;
LOCATE COMP "outlevel00[13]" SITE "125" ;
LOCATE COMP "outlevel00[10]" SITE "122" ;
LOCATE COMP "outlevel00[11]" SITE "121" ;
LOCATE COMP "outlevel00[14]" SITE "128" ;
LOCATE COMP "outlevel00[15]" SITE "127" ;
LOCATE COMP "outlevel00[16]" SITE "10" ;
LOCATE COMP "outlevel00[17]" SITE "9" ;
LOCATE COMP "outlevel00[18]" SITE "12" ;
LOCATE COMP "outlevel00[19]" SITE "11" ;
LOCATE COMP "outlevel00[20]" SITE "14" ;
LOCATE COMP "outlevel00[21]" SITE "13" ;
LOCATE COMP "outlevel00[22]" SITE "20" ;
LOCATE COMP "outlevel00[23]" SITE "19" ;
