BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Yna[0]" SITE "115" ;
LOCATE COMP "Yna[1]" SITE "117" ;
LOCATE COMP "Yna[2]" SITE "113" ;
LOCATE COMP "Yna[3]" SITE "114" ;
LOCATE COMP "Yna[4]" SITE "111" ;
LOCATE COMP "Yna[5]" SITE "112" ;
LOCATE COMP "Yna[7]" SITE "110" ;
LOCATE COMP "Ana[1]" SITE "39" ;
LOCATE COMP "Ana[2]" SITE "40" ;
LOCATE COMP "Ana[3]" SITE "41" ;
LOCATE COMP "Ana[4]" SITE "42" ;
LOCATE COMP "Ana[5]" SITE "43" ;
LOCATE COMP "Ana[6]" SITE "44" ;
LOCATE COMP "Ana[7]" SITE "45" ;
LOCATE COMP "Bna[0]" SITE "47" ;
LOCATE COMP "Bna[1]" SITE "48" ;
LOCATE COMP "Bna[2]" SITE "49" ;
LOCATE COMP "Bna[3]" SITE "50" ;
LOCATE COMP "Bna[4]" SITE "52" ;
LOCATE COMP "Bna[5]" SITE "54" ;
LOCATE COMP "Bna[6]" SITE "55" ;
LOCATE COMP "Bna[7]" SITE "56" ;
LOCATE COMP "Yna[6]" SITE "109" ;
LOCATE COMP "Ana[0]" SITE "38" ;
