BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "1" ;
LOCATE COMP "cdiv0[4]" SITE "38" ;
LOCATE COMP "cdiv0[3]" SITE "39" ;
LOCATE COMP "cdiv0[2]" SITE "40" ;
LOCATE COMP "cdiv0[1]" SITE "41" ;
LOCATE COMP "cdiv0[0]" SITE "42" ;
LOCATE COMP "enable0" SITE "47" ;
LOCATE COMP "outwordro0[6]" SITE "132" ;
LOCATE COMP "outwordro0[5]" SITE "138" ;
LOCATE COMP "outwordro0[4]" SITE "139" ;
LOCATE COMP "outwordro0[3]" SITE "140" ;
LOCATE COMP "outwordro0[2]" SITE "141" ;
LOCATE COMP "outwordro0[1]" SITE "142" ;
LOCATE COMP "outwordro0[0]" SITE "143" ;
LOCATE COMP "outtransist0[0]" SITE "33" ;
LOCATE COMP "outtransist0[1]" SITE "32" ;
LOCATE COMP "outtransist0[2]" SITE "34" ;
LOCATE COMP "outtransist0[3]" SITE "35" ;
LOCATE COMP "outcontrro0[0]" SITE "110" ;
LOCATE COMP "outcontrro0[1]" SITE "109" ;
LOCATE COMP "outcontrro0[2]" SITE "112" ;
LOCATE COMP "outcontrro0[3]" SITE "111" ;
