BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "TOu[0]" SITE "35" ;
LOCATE COMP "TOu[1]" SITE "34" ;
LOCATE COMP "TIn[1]" SITE "38" ;
LOCATE COMP "TIn[0]" SITE "39" ;
LOCATE COMP "TOu[3]" SITE "33" ;
LOCATE COMP "TOu[2]" SITE "32" ;
