BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Yn[0]" SITE "115" ;
LOCATE COMP "Yn[1]" SITE "117" ;
LOCATE COMP "Yn[2]" SITE "113" ;
LOCATE COMP "Yn[3]" SITE "114" ;
LOCATE COMP "Yn[4]" SITE "111" ;
LOCATE COMP "Yn[5]" SITE "112" ;
LOCATE COMP "Yn[6]" SITE "109" ;
LOCATE COMP "An[0]" SITE "38" ;
LOCATE COMP "An[1]" SITE "39" ;
LOCATE COMP "An[2]" SITE "40" ;
LOCATE COMP "An[3]" SITE "41" ;
LOCATE COMP "An[4]" SITE "42" ;
LOCATE COMP "An[5]" SITE "43" ;
LOCATE COMP "An[6]" SITE "44" ;
LOCATE COMP "An[7]" SITE "45" ;
LOCATE COMP "Yn[7]" SITE "110" ;
