BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "MUXO[0]" SITE "115" ;
LOCATE COMP "MUXO[1]" SITE "117" ;
LOCATE COMP "MUXO[2]" SITE "113" ;
LOCATE COMP "I0[0]" SITE "38" ;
LOCATE COMP "I0[1]" SITE "39" ;
LOCATE COMP "I0[2]" SITE "40" ;
LOCATE COMP "I1[0]" SITE "41" ;
LOCATE COMP "I1[1]" SITE "42" ;
LOCATE COMP "I1[2]" SITE "43" ;
LOCATE COMP "I2[0]" SITE "44" ;
LOCATE COMP "I2[1]" SITE "45" ;
LOCATE COMP "I2[2]" SITE "47" ;
LOCATE COMP "S[1]" SITE "56" ;
LOCATE COMP "S[0]" SITE "55" ;
