BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outosc0" SITE "1" ;
LOCATE COMP "indiv0[0]" SITE "38" ;
LOCATE COMP "indiv0[1]" SITE "39" ;
LOCATE COMP "indiv0[2]" SITE "40" ;
LOCATE COMP "indiv0[3]" SITE "41" ;
